body {
    background-color: #222831;
    height: 500px;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

#container {
    position: relative;
    width: 550px;
    margin: auto;
    top: 20px;
    left: 30px;
}
    #container .input_wrapper {
        position: absolute;
        width: 60px;
        height: 100px;
    }
        #container .input_wrapper#tl {
            top: -2px;
            left: -80px;
            text-align: right;
        }
        #container .input_wrapper#tr {
            top: -2px;
            left: 470px;
            text-align: left;
        }
        #container .input_wrapper#br {
            top: 254px;
            left: 470px;
            text-align: left;
        }
        #container .input_wrapper#bl {
            top: 254px;
            left: -80px;
            text-align: right;
        }
        #container .input_wrapper input {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
        }

        #container .input_wrapper#tr input, #container .input_wrapper#br input {
            text-align: left;
            right: auto;
            left: 0;
        }

        #container .input_wrapper#bl input, #container .input_wrapper#br input {
            top: auto;
            bottom: -1px;
        }

    #container #box {
        width: 450px;
        height: 350px;
        background: #393e46;
        border: 2px solid #00adb5;
    }

    #box #textBox {
        position: relative;
        margin-top: 50px;
        margin-left: 50px;
        width: 350px;
        height: 250px;
        background: #eeeeee;

        font-family: monospace;
        font-size: 15px;
        text-align: center;
    }   
        #box #textBox textarea {
            width: 343px;
            height: 244px;
            resize: none;
        }
    
    #container #button {
        position: relative;
        top: 20px;
        left: 160px;

        background: #393e469a;
        border: 2px solid #00adb5;
        color: white;
    }
        #container #button:hover {
            border: 2px solid white;
            cursor: pointer;
        }
        