body {
    background-color: #222831;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

#box {
    position: relative;
    margin: auto;
    width: 450px;
    height: 350px;
    background: #393e46;
    border: 2px solid #00adb5;
}

#textBox {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    width: 350px;
    height: 250px;
    background: #eeeeee;

    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

#btlr {
    position: absolute;
    width: 60px;
    margin-left: 300px;
}

#btrr {
    position: absolute;
    width: 60px;
    margin-left: 850px;
}

#bbrr {
    position: absolute;
    width: 60px;
    margin-left: 850px;
    margin-top: 333px;
}

#bblr {
    position: absolute;
    width: 60px;
    margin-left: 300px;
    margin-top: 333px;
}



